@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Заявка принята</h4>
            <p>Ваша проектр будет рассмотрен и наш менеджер свяжется с вами</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    </div>
